.descPanelP {
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}

.desc {
    max-width: 90%;
    font-size: 14px;
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(110, 108, 108);
    border-radius: 0.625em;
    box-shadow: 0em 0.25em 0.625em rgba(0, 0, 0, 0.1);
    background-image: radial-gradient();
    padding: 1.25em;
    margin: 1.25em;
    transition: box-shadow 0.3s ease;
    width: 1000px;
}