.userInput-css {
    margin-top: 64px;
    width: 100%;
    max-width: 576px;
}

.search-comp {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.interactive {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.copyIcon1-css {
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: -625px;
    width: 20px;
    z-index: 11;
}

.copyIcon2-css {
    position: absolute;
    margin-left: -625px;
    width: 20px;
    z-index: 11;
}

/* .input-box {
    height: 190px;
} */

.problem-input,
.soln-input {
    width: 100%;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 48px;
    font-size:  14px;
    font-family: Roboto, Arial;
    line-height: 20px;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    margin-bottom: 20px;
}


.problem-input:focus,
.soln-input:focus {
    border-color: #000000;
    outline: none;
  }

/* .submit_button {
    position: absolute;
    bottom: 0;
    width: 100px;
    align-items: center;
    justify-self: center;
    padding: 5px;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: -50px;
}

.submit_button:hover {
    border-color: #4b5563;
    color: #4b5563;
}

.send-icon {
    width: 30px;
} */

.submit_button {
    position: relative;
    bottom: 0;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border: 1px solid #c0c3c5;
    border-radius: 8px;
    font-family: 'sans-serif';
    font-size: 16px;
    background-color: #ffffff;
    color: #4b5563;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit_button:hover {
    background-color: #e8f2ff;
    border-color: rgb(139, 171, 252);
    color: #ffffff; 
}

.send-icon {
    width: 27px;
    margin-right: 5px;
}

.eval-result {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-img {
    width: fit-content;
    border-radius: 50%;
    background-color: rgba(190, 61, 61, 0.1);
    box-shadow: inset 10px -50px 94px 0 rgba(199, 199, 199, 0.2);
    backdrop-filter: blur(10px); 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10000;
}

.second-img {
    width: fit-content;
    border-radius: 50%;
    background-color: rgba(190, 61, 61, 0.1);
    box-shadow: inset 10px -50px 94px 0 rgba(199, 199, 199, 0.2);
    backdrop-filter: blur(10px); 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10000;
}

