.infopanel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    width: 100px;
    object-fit: contain;
    margin-left: 20px;

    animation: rotateLogo 8s linear infinite; 
    transition: transform 0.3s ease;
}

@keyframes rotateLogo {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.header {
    vertical-align: middle;
    margin: 1em;
}

.title {
    text-align: center;
    margin: 1em;
}

.git-button {
    border-color: black;
    border-style: solid;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    border-radius: 9999px;
    padding: 8px 20px;
    cursor: pointer;
}

.git-button:hover {
    background-color: white;
    color: black;
}

.hackathon-button {
    margin-left: 25px;
    margin-right: 20px;
    width: 150px;
    height: 35px;
    background-color: rgb(225, 248, 225);
    font-weight: bold;
    font-size: 14px;
    border-radius: 200px;
    border-color: green;
    cursor: pointer;
    transition: all;
}

.hackathon-button:hover {
    background-color: rgb(13, 106, 52);
    color: white;
}